body {
  margin: 0px 0px 0px 0px;
  text-align: center;
  padding-top: 24px;
  background-color: #f0f0f0;
}

#boxContainer {
  margin-top: calc(5vw - 2px)
}

#mdInput, #htmlOutput {
  background-color: white;
  width: 40%;
  max-width: 40%;
  height: 400px;
  margin: 0px calc(5% - 2px) 0px calc(5% - 2px);
  padding: 10px 10px 10px 10px;
  border: 1px solid black;
  padding-left: 0px;
  padding-right: 0px;
  display: inline-block;
  resize: none;
  vertical-align: top;
}

#htmlOutput {
  overflow-y: scroll;
}

#mdInput:focus {
  outline: 0px
}
